@charset "utf-8";

body {
  font-family: "メイリオ", Meiryo, sans-serif;
  width: 25em;
  font-size: 1.0em;
  font-weight: 300;
  color: #fafafa;
  background-color: #434343;
}

label {
  display: block;
  padding: 0.5em 0;
}

label:hover {
  background-color: #5a5a5a;
}

.title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  background: linear-gradient(transparent 95%, #7e7e7e 95%);
}

.url {
  width: 100%;
}

.auto-save-notice {
  font-size: 0.85em;
  color: #aaa;
  padding: 0.5em 0;
}

.current-site-info {
  color: #aaa;
}

.reload-notice {
  background: #4a3800;
  border-color: #997700;
  color: #ffe680;
}

.patterns-header:hover {
  background-color: #5a5a5a;
}

.patterns-arrow {
  color: #aaa;
}
