@charset "utf-8";
body {
  font-family: "メイリオ", meiryo;
  width: 25em;
  font-size: 1.0em;
  font-weight: 300;
  color: #fafafa; background-color: #434343;

}

label {
  display: block;
  padding: 0.5em 0;
}

label:hover {
  background-color: #5a5a5a;
}

.title {
  font-size: 25px;
  margin-bottom: 0.5em;
  background: linear-gradient(transparent 95%, #7e7e7e 95%);
}
