@charset "utf-8";
body {
  width: 25em;
  font-size: 1.0em;
  font-weight: 300;
}

label {
  display: block;
  padding: 0.5em 0;
}

label:hover {
  background-color: #EAEFF2;
}

.title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
